
<mat-dialog-content> 
  <div *ngIf="enableNewExpense">
    <h2 mat-dialog-title>New {{ incomeOrExpense }}</h2>

    <div>
      {{ incomeOrExpense }} Name
      <input type="text" [(ngModel)]='expenseBeingEdited.name'>
    </div>

    <div>
      Amount
      <input type="number" [(ngModel)]='expenseBeingEdited.amount'>
    </div>

    <div>
      Repeats
      <select [(ngModel)]="expenseBeingEdited.info.type">
        <option>other</option>
        <option>daily</option>
        <option>weekly</option>
        <option>monthly</option>
        <option>yearly</option>
      </select>
    </div>

    <div>
      Category
      <select [(ngModel)]="expenseBeingEdited.info.category">
        <option *ngFor="let category of expenseCategories ">{{ category }}</option>
      </select>
      <button (click)="showCreateExpenseCategorySection()">New {{ incomeOrExpense }} Category</button>
      
      <input *ngIf="enableCategorySection" type="text" [(ngModel)]="createdCategoryName">
      <button *ngIf="enableCategorySection" (click)="createExpenseCategory()">Create Category</button>

      <button (click)="createExpense()">Create {{ incomeOrExpense }}</button>
    </div>

  </div>
  
  <div *ngIf="enableEditExpense">
    Edit {{ expenseBeingEdited.name }}
    
    <div>
      Name<input type="text" [(ngModel)]="expenseBeingEdited.name">
    </div>
    
    <div>
      Amount<input type="number" id="editExpenseAmount" [(ngModel)]="expenseBeingEdited.amount">
    </div>
    
    <div>
      Repeats
      <select id="editExpenseRepeats" [(ngModel)]="expenseBeingEdited.info.type">
        <option>other</option>
        <option>daily</option>
        <option>weekly</option>
        <option>monthly</option>
        <option>yearly</option>
      </select>
    </div>

    <div>
      Category
      <select [(ngModel)]="expenseBeingEdited.info.category" id="editExpenceCategory">
        <option *ngFor="let category of expenseCategories ">{{ category }}</option>
      </select>
      <button (click)="showCreateExpenseCategorySection()">New {{ incomeOrExpense }} Category</button>
      
      <input *ngIf="enableCategorySection" type="text" [(ngModel)]="createdCategoryName">
      <button *ngIf="enableCategorySection" (click)="createExpenseCategory()">Create Category</button>

      <button (click)="saveEditExpense()">Save {{ incomeOrExpense }}</button>
    </div>

  </div>

</mat-dialog-content>
