
<mat-dialog-content> 
  <div *ngIf="enableNewExpense">
    <h2 mat-dialog-title>New Expense</h2>
    Expense Name<input type="text" [(ngModel)]='expenseBeingEdited.name'>
    Amount<input type="number" [(ngModel)]='expenseBeingEdited.amount'>
    Repeats
    <select [(ngModel)]="expenseBeingEdited.repeats">
      <option>Daily</option>
      <option>Weekly</option>
      <option>Monthly</option>
      <option>Yearly</option>
    </select>

    Category
    <select [(ngModel)]="expenseBeingEdited.category">
      <option *ngFor="let category of expenseCategories ">{{ category }}</option>
    </select>
    <button (click)="showCreateExpenseCategorySection()">New Expense Category</button>
    
    <input *ngIf="enableCategorySection" type="text" [(ngModel)]="createdCategoryName">
    <button *ngIf="enableCategorySection" (click)="createExpenseCategory()">Create Category</button>

    <button (click)="createExpense()">Create Expense</button>
  </div>

  <div *ngIf="enableEditExpense">
    Edit {{ expenseBeingEdited.name }}
    <input type="text" value="expenseBeingEdited.name" [(ngModel)]="expenseBeingEdited.name"> -->
    Amount<input type="number" id="editExpenseAmount" [(ngModel)]="expenseBeingEdited.amount">
    Repeats
    <select id="editExpenseRepeats" [(ngModel)]="expenseBeingEdited.repeats">
      <option>Daily</option>
      <option>Weekly</option>
      <option>Monthly</option>
      <option>Yearly</option>
    </select>

    Category
    <select [(ngModel)]="expenseBeingEdited.category" id="editExpeneCategory">
      <option *ngFor="let category of expenseCategories ">{{ category }}</option>
    </select>
    <button (click)="showCreateExpenseCategorySection()">New Expense Category</button>
    
    <input *ngIf="enableCategorySection" type="text" [(ngModel)]="createdCategoryName">
    <button *ngIf="enableCategorySection" (click)="createExpenseCategory()">Create Category</button>

    <button (click)="saveEditExpense()">Save Expense</button>
  </div>


   
      
</mat-dialog-content>
