.background{
    background-color:#3D5A80;
    height: 100%;
  }
.wrapper
{
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
  
  ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 43, 51);
    }
    li {
      display: inline;
      float: left;
    }
    
    li a {
    display: block;
    padding: 8px;
    background-color: rgb(43, 43, 51);
    padding: 15px;
    color: white;
  }
  li a:active{
background-color: #3D5A80;
  }
