
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/expenses-and-income">Expenses</a></li>
  <li><a routerLink="/profile">Profile</a></li>
</ul>


<h1 style= "text-align:center">
Summary</h1>
  
  <div style="width: 80%; margin:auto;">
          <div style="width: 300px; height: 300px;" class="pie_chart_container"> pi </div>
          <div class = "dashboard-item" style="background-color:#ECC8AF">
                STUFF HERE ABOUT THE PIE CHART
                </div>
                        <div style="background-color:#E7AD99" class = "dashboard-item">
                STUFF HERE ABOUT THE PIE CHART
                </div>
                        <div style="background-color:#CE796B" class = "dashboard-item">
                STUFF HERE ABOUT THE PIE CHART
                </div>
                        <div style="background-color: #C18C5D" class = "dashboard-item">
                STUFF HERE ABOUT THE PIE CHART
            </div>
  </div>
<router-outlet></router-outlet>