@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

h1 {
  padding-top: 25px;
  text-align: center;
  color: black;
}
.section {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(43, 43, 51);
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: rgb(43, 43, 51);
  padding: 15px;
  color: white;
}

a:hover {
  background-color: #a8dadc;
}

.dashboard-item {
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 1px 1px #5c4733;
}

.section {
  border-radius: 5px;
  background-color: #98C1D9;
  box-shadow: 2px 2px rgb(21, 52, 92);
}

.dashboard-button {
  border-radius: 8px;
  border: none;
  background-color: #E0FBFC;
  color: black;
  margin: 2px;
  outline: none;
  box-shadow: 1px 1px #3D5A80;

}

.dashboard-button:active {
  background-color: #497dff;
}

.top_button {
  font-size: 20px;
  padding: 7px;
}

.h2 {
  text-align: middle;
}